@import 'src/assets/sass/variables'
article
    @extend .app-container
    display: flex
    flex-direction: row
    justify-content: space-between
    background: $podcast-black
    color: $podcast-white
    font-family: 'Montserrat', sans-serif
    overflow-x: hidden
section
    display: flex
    flex-direction: column
    padding: $global-padding-normal 0 $global-padding-normal 0
    fa-icon, p
        color: $podcast-white
        margin: 0
        line-height: 2.5svh
    img
        max-width: 200px
    li
        list-style-type: none
    header
        font-size: $header-size-small
        font-weight: bold
ul
    margin: 0
    padding: 0
.social-links-container
    display: flex
    flex-direction: row
    justify-content: center
    gap: $global-gap-tiny
