<footer>
    <div class="flexbox">
        <div class="flexbox-item">
            <h1>Schedule</h1>
            <p>Mondays, 15 CET</p>
        </div>
        <div class="flexbox-item">
            <h1>Popular links</h1>
            <ul>
                <li><a routerLink="/videos">Episodes</a></li>
                <li><a routerLink="/blog">Blog posts</a></li>
                <li><a routerLink="/">Gaming dictionary</a></li>
                <li><a routerLink="/">Terms of service</a></li>
                <li><a routerLink="/">F.A.Q</a></li>
                <li><a routerLink="/contact">Support</a></li>
            </ul>
        </div>
        <div class="flexbox-item">
            <h1>Contact</h1>
            <p>contact@expboost.com</p>
            <p>Alternatively</p>
            <button (click)="navigateToContact()" mat-raised-button color="primary">Contact Form</button>
        </div>
        <div class="flexbox-item">
            <h1>Find us on</h1>
            <div class="flexbox-subrow">
                <fa-icon [icon]="faYoutube"></fa-icon>
                <fa-icon [icon]="faTwitch"></fa-icon>
                <fa-icon [icon]="faPatreon"></fa-icon>
                <fa-icon [icon]="faDiscord"></fa-icon>
                <fa-icon [icon]="faTiktok"></fa-icon>
                <fa-icon [icon]="faReddit"></fa-icon>
                <fa-icon [icon]="faLinkedIn"></fa-icon>
            </div>
        </div>
        <div class="flexbox-item">
            <h1>Join the party &<br> Boost your gaming insights!</h1>
            <div class="flexbox-subrow">
                <button (click)="redirectToTwitchChannel()" mat-raised-button color="primary">Join on Twitch</button>
                <button (click)="openDialog()" mat-raised-button color="primary">Join the community</button>
            </div>
            <p>© ExpBoost. All rights reserved.</p>
        </div>
    </div>
</footer>