<p>FOOTER</p>
<article id="footer-root">
    <section id="logo-copyright">
        <img src="assets/image/logo.png">
        <p>© EXPBoost. All rights reserved.</p>
    </section>
    <section id="schedule-socials">
        <header>Stream</header>
        <p>Mondays, 15 CET.</p>
        <p> <fa-icon [icon]="faTwitch"></fa-icon> Twitch</p>
        <p> <fa-icon [icon]="faYouTube"></fa-icon> YouTube</p>
    </section>
    <section id="contact">
        <p>light@fenrirgamestudio.com</p>
        <p>dmj@fenrirgamestudio.com</p>
        <p>paladin@fenrirgamestudio.com</p>
    </section>
    <section id="support">
        <header>Support</header>
        <ul>
            <li><fa-icon [icon]="faTwitch"></fa-icon></li>
            <li><fa-icon [icon]="faYouTube"></fa-icon></li>
            <li><fa-icon [icon]="faPatreon"></fa-icon></li>
            <li><fa-icon [icon]="faLinkedIn"></fa-icon></li>
            <li><fa-icon [icon]="faDiscord"></fa-icon></li>
            <li><fa-icon [icon]="faReddit"></fa-icon></li>
            <li><fa-icon [icon]="faTiktok"></fa-icon></li>
        </ul>
    </section>
</article>