<article id="footer-root">
    <section id="logo-copyright">
        <img src="assets/image/logo.png">
        <p>© EXPBoost. All rights reserved.</p>
    </section>
    <section id="schedule-socials">
        <header>Stream</header>
        <p>Mondays, 15 CET.</p>
        <p> <fa-icon [icon]="faTwitch"></fa-icon> <span>Twitch</span> <fa-icon [icon]="faYouTube"></fa-icon> <span>YouTube</span></p>
    </section>
    <section id="contact">
        <header>Contact</header>
        <p>light@fenrirgamestudio.com</p>
        <p>dmj@fenrirgamestudio.com</p>
        <p>paladin@fenrirgamestudio.com</p>
    </section>
    <section id="support">
        <header>Support</header>
        <ul>
            <a href="https://twitch.tv"><li><fa-icon [icon]="faTwitch"></fa-icon></li></a>
            <a href="https://youtube.com"><li><fa-icon [icon]="faYouTube"></fa-icon></li></a>
            <a href="https://patreon.com"><li><fa-icon [icon]="faPatreon"></fa-icon></li></a>
            <a href="https://linkedin.com"><li><fa-icon [icon]="faLinkedIn"></fa-icon></li></a>
            <a href="https://discord.com"><li><fa-icon [icon]="faDiscord"></fa-icon></li></a>
            <a href="https://reddit.com"><li><fa-icon [icon]="faReddit"></fa-icon></li></a>
            <a href="https://tiktok.com"><li><fa-icon [icon]="faTiktok"></fa-icon></li></a>
        </ul>
    </section>
</article>