@import 'src/assets/sass/variables'
.orange-card-container
    background-color: $podcast-orange
    margin: 0 auto
    padding: $global-padding-big
    border-radius: 0 0 20px 20px
    header
        font-size: 1.5em
        font-weight: bold
        margin-bottom: 20px
        color: $podcast-black
    .row
        display: flex
        flex-direction: row
        justify-content: space-evenly
        flex-wrap: wrap
        gap: 2em
        p
            color: $podcast-black
        img
            display: block
            width: 285px
            height: 165px
            object-fit: cover
            object-position: center
        .gallery-item
        .gallery-title
            font-weight: bold
            font-size: $title-font-size

#subheader
    color: $podcast-black
    font-size: $header-size-small
    font-weight: bold
    a
        color: unset
        text-decoration: none
        &:hover
            text-decoration: underline
            cursor: pointer
