@import 'src/assets/sass/variables'
.orange-card
    background-color: $podcast-orange
    width: 1600px
    margin: 0 auto
    border-radius: 0 0 20px 20px
    header
        font-size: 1.5em
        font-weight: bold
        margin-bottom: 20px
    .row
        display: flex
        flex-direction: row
        justify-content: space-evenly
        text-align: center
        .col-md-4
            height: 300px
            margin: 0 auto
            p
                color: $podcast-black
                margin: 20px
            .gallery-item
                margin: auto
                width: 300px
                height: 175px
                .gallery-image
                    height: 100%
                    width: 100%
                .gallery-title
                    font-weight: bold
                    font-size: 1.25em
                .gallery-date
        header
            color: $podcast-black
            margin-bottom: 20px
#subheader
    color: $podcast-black
    font-size: 1.5em
    font-weight: bold
    a
        color: unset
        text-decoration: none
        &:hover
            text-decoration: underline
            cursor: pointer
