<article id="footer-root" class="md-container">
    <div class="first-row-container">
        <section id="logo-copyright">
            <div class="image-container">
                <img src="assets/image/EXP_Boost_logo.png">
            </div>
            <p>© EXPBoost. All rights reserved.</p>
        </section>
    </div>
    <div class="second-row-container">
        <section id="schedule-socials">
            <header>Stream</header>
            <p>Mondays, 15 CET.</p>
            <div class="social-buttons-container">
                <app-social-link-button [title]="'Twitch'" [platform]="faTwitch"></app-social-link-button>
                <app-social-link-button [title]="'YouTube'" [platform]="faYoutube"></app-social-link-button>
            </div>
        </section>
        <section id="support">
            <header>Support</header>
            <ul class="social-links-container">
                <a href="https://twitch.tv">
                    <li><fa-icon [icon]="faTwitch"></fa-icon></li>
                </a>
                <a href="https://youtube.com">
                    <li><fa-icon [icon]="faYoutube"></fa-icon></li>
                </a>
                <a href="https://patreon.com">
                    <li><fa-icon [icon]="faPatreon"></fa-icon></li>
                </a>
                <a href="https://linkedin.com">
                    <li><fa-icon [icon]="faLinkedIn"></fa-icon></li>
                </a>
                <a href="https://discord.com">
                    <li><fa-icon [icon]="faDiscord"></fa-icon></li>
                </a>
                <a href="https://reddit.com">
                    <li><fa-icon [icon]="faReddit"></fa-icon></li>
                </a>
                <a href="https://tiktok.com">
                    <li><fa-icon [icon]="faTiktok"></fa-icon></li>
                </a>
            </ul>
        </section>
    </div>
</article>

<article id="footer-root" class="xs-container">
    <section id="schedule-socials">
        <header>Stream</header>
        <p>Mondays, 15 CET.</p>
    </section>
    <section id="support">
        <header>Support</header>
        <ul class="social-links-container">
            <a href="https://twitch.tv">
                <li><fa-icon [icon]="faTwitch"></fa-icon></li>
            </a>
            <a href="https://youtube.com">
                <li><fa-icon [icon]="faYoutube"></fa-icon></li>
            </a>
            <a href="https://patreon.com">
                <li><fa-icon [icon]="faPatreon"></fa-icon></li>
            </a>
            <a href="https://linkedin.com">
                <li><fa-icon [icon]="faLinkedIn"></fa-icon></li>
            </a>
            <a href="https://discord.com">
                <li><fa-icon [icon]="faDiscord"></fa-icon></li>
            </a>
            <a href="https://reddit.com">
                <li><fa-icon [icon]="faReddit"></fa-icon></li>
            </a>
            <a href="https://tiktok.com">
                <li><fa-icon [icon]="faTiktok"></fa-icon></li>
            </a>
        </ul>
    </section>
    <section id="logo-copyright">
        <p>© EXPBoost. All rights reserved.</p>
    </section>

</article>