// Colors
$podcast-orange: #ffa731
$podcast-purple2: #673ab7
$podcast-purple: #761FF8
$podcast-black: #25233f
$podcast-black2: #313257
$podcast-midnight: #1C0D2B
$podcast-white: #FEFEFD
$podcast-indigo: #352264
$podcast-blurcard: rgba(37, 35, 63, 0.8)
$podcast-blurcard-dark: rgba(37,35,63, 0.9)

// Universal spacing
$normal-spacing: 1em
$small-spacing: $normal-spacing / 4

// Global element spacing
$global-margin-normal: 2em
$global-margin-small: $global-margin-normal / 2

$global-padding-normal: 2em
$global-padding-big: $global-padding-normal* 1.33
$global-padding-small: $global-padding-normal *0.75
$global-padding-tiny: $global-padding-normal / 6

$global-gap-normal: 2em
$global-gap-big: $global-gap-normal * 2
$global-gap-large: 2.6em
$global-gap-small: $global-gap-normal / 2
$global-gap-tiny: $global-gap-small / 2

// Global radius 
$global-radius-normal: 20px
$global-radius-small: $global-radius-normal / 2
$global-radius-tiny: $global-radius-small / 4

// Filter values
$filter-value-blur: 5px

// Fonts
$font-standard: 'Montserrat', sans-serif
$header-size-fat: 3em
$header-size-big: 2em
$header-size-normal: 1.75em
$header-size-small: 1.5em
$header-size-tiny: 1.2em
$paragraph-size-normal: 1em
$paragraph-size-big: 1.15em
$paragraph-size-large: 1.30em
$paragraph-size-small: 0.9em
$nav-item-font-size: 1.1em
$title-font-size: 1.25em

// Global sizes
$navbar-image-size: 100px
$navbar-image-size-sm: 75px
$navbar-height: 5em
$navbar-height-sm: 60px

// Paths
$filepath: '../../assets/image/'

// Thresholds
$xs: 576px
$sm: 768px
$md: 1001px
$lg: 1200px
$xl: 1600px

// Media queries
@mixin breakpoint($breakpoint)
    @if $breakpoint == 'xs'
        @media (min-width: 576px)
            @content
    @else if $breakpoint == 'sm'
        @media (min-width: 768px)
            @content

    @else if $breakpoint == 'md'
        @media (min-width: 1001px)
            @content

    @else if $breakpoint == 'lg'
        @media (min-width: 1200px)
            @content

    @else if $breakpoint == 'xl'
        @media (min-width: 1600px)
            @content

// Elements
.blur-card
    background-color: $podcast-blurcard
    padding: $global-padding-normal
    backdrop-filter: blur($filter-value-blur)
.blur-tile-label
    width: 100%
    background-color: $podcast-blurcard-dark
.blur-blog-label
    width: 100%
    background-color: $podcast-blurcard-dark
    padding: $global-padding-normal 0 $global-padding-normal 0
    backdrop-filter: blur($filter-value-blur)
.blur-blog-label-xs
    background-color: $podcast-blurcard-dark
    width: 100%
    backdrop-filter: blur($filter-value-blur)
    padding: $global-padding-tiny 0 $global-padding-tiny 0
.app-container
    padding: 0 10% 0 10%
.app-container-full-banner
    padding: 0 7% 0 7%
