<mat-card>
    <mat-form-field>
        <mat-label>Firstname / Username</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Company/Org name</mat-label>
        <input matInput type="text" placeholder="None">
    </mat-form-field>
    <mat-form-field>
        <mat-label>What would you like to <strong>collab</strong> on?</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</mat-card>
<div class="button-container">
    <button mat-raised-button color="primary">Submit</button>
</div>