<nav id="main-nav">
    <div class="container">
        <div id="logo-container">
            <button mat-button (click)="navigateTo('')"><img id="logo" src="assets/image/logo.png"></button>
        </div>
        <ul id="navbar-items">
            <li><button mat-button (click)="navigateTo('')">Home</button></li>
            <li><button mat-button (click)="navigateTo('videos')">Videos</button></li>
            <li><button mat-button (click)="navigateTo('blog')">Blog</button></li>
            <li><button mat-button (click)="navigateTo('contact')">Contact</button></li>
            <li><button mat-button (click)="navigateTo('about')">About</button></li>
            <li id="navbar-submenu">
                <button mat-button mat-button [matMenuTriggerFor]="menu">
                    <fa-icon [icon]="faUser"></fa-icon>Account<fa-icon [icon]="faCaretDown"></fa-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button (click)="navigateTo('')" mat-menu-item>Login</button>
                    <button (click)="navigateTo('')" mat-menu-item>Signup</button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>