<nav id="main-nav">
    <div class="container">
        <div id="logo-container">
            <button mat-button routerLink="home"><img id="logo" src="assets/image/logo.png"></button>
        </div>
        <ul id="navbar-items">
            <li><button mat-button routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</button></li>
            <li><button mat-button routerLink="/videos" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Videos</button></li>
            <li><button mat-button routerLink="/blog" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Blog</button></li>
            <li><button mat-button routerLink="/contact" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contact</button></li>
            <li><button mat-button routerLink="/about" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">About</button></li>
            <li id="navbar-submenu">
                <!-- submenu code here -->
            </li>
            <li id="navbar-submenu">
                <div *ngIf="isLoggedIn">
                    <button mat-button [matMenuTriggerFor]="myProfileMenu">
                        <fa-icon [icon]="faUser"></fa-icon>MyUsername<fa-icon [icon]="faCaretDown"></fa-icon>
                    </button>
                </div>
                <div *ngIf="!isLoggedIn">
                    <button mat-button [matMenuTriggerFor]="signinMenu">
                        <fa-icon [icon]="faUser"></fa-icon>Account<fa-icon [icon]="faCaretDown"></fa-icon>
                    </button>
                </div>
                <mat-menu #signinMenu="matMenu" xPosition="before">
                    <mat-list>
                        <mat-list-item>
                            <button (click)="isLoggedIn = true" mat-menu-item>Login</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button routerLink="/" mat-menu-item>Signup</button>
                        </mat-list-item>
                    </mat-list>
                </mat-menu>
                <mat-menu #myProfileMenu="matMenu" xPosition="before">
                    <mat-list>
                        <mat-list-item>
                            <label>My Stuff</label>
                        </mat-list-item>
                        <mat-list-item>
                            <button routerLink="/" mat-menu-item>Profile</button>
                        </mat-list-item>
                        <mat-list-item>
                            <label>Account</label>
                        </mat-list-item>
                        <mat-list-item>
                            <button (click)="isLoggedIn = false" mat-menu-item>Logout</button>
                        </mat-list-item>
                    </mat-list>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>