@import 'src/assets/sass/variables'
nav
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    background: $podcast-black
    font-family: 'Montserrat', sans-serif
    img
        max-width: 80px
        margin: 0 auto
        display: block
    ul
        display: flex
        flex-direction: row
        margin: 0
        padding: 0
        align-items: center
        li 
            margin: 0 1em
            list-style-type: none
    a
        text-decoration: none
        font-size: 1.1em
        display: block
        text-align: center
    fa-icon, a
        color: $podcast-white
    fa-icon
        margin: 0px 10px 0px 10px
        