<form>
  <h2>Is Elden Ring a bad game? <span title="7 days remaining"><fa-icon [icon]="faClock"></fa-icon></span></h2>
  <div class="radio-button-group">
    <label><input type="radio" name="option" value="a">This is option A</label>
    <div class="outer-progress-bar">
      <mat-progress-bar mode="determinate" value="1"></mat-progress-bar>
    </div>
    <label><input type="radio" name="option" value="a">This is option B</label>
    <div class="outer-progress-bar">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <label><input type="radio" name="option" value="a">This is option C</label>
    <div class="outer-progress-bar">
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </div>
    <label><input type="radio" name="option" value="a">This is option D</label>
    <div class="outer-progress-bar">
      <mat-progress-bar mode="determinate" value="19"></mat-progress-bar>
    </div>
  </div>
  <button mat-raised-button>Submit</button>
</form>