<form>
    <h2>What is your favorite color? <fa-icon [icon]="faClock"></fa-icon></h2>
    <h3>Please select an option:</h3>
    <label><input type="radio" name="option" value="a" />This is option A</label><br />
    <label><input type="radio" name="option" value="b" />This is option B</label><br />
    <label><input type="radio" name="option" value="c" />This is option C</label><br />
    <label><input type="radio" name="option" value="d" />This is option D</label><br />
    <input type="submit" value="Submit" />
</form>