@import 'src/assets/sass/variables'
form
    display: flex
    flex-direction: column
    justify-content: space-evenly
    overflow: hidden
    color: $podcast-white
    background-color: $podcast-black
    padding: $global-padding-normal
    @include breakpoint('md')
        background-color: transparent
    fa-icon
        font-size: 0.75em
    button
        background-color: $podcast-orange
        color: $podcast-black
        font-weight: bold
        margin-top: $global-margin-normal
    input[type="radio"]
        outline: none
        border: none
    h2
        width: 50svw
        white-space: wrap
        @include breakpoint('md')
            width: 20svw

    .radio-button-group
        display: flex
        flex-direction: column
        gap: 1em
        font-size: $paragraph-size-normal
    .outer-progress-box
        padding: 5px
        border: 2px solid $podcast-orange
    mat-progress-bar
        margin-left: auto
        margin-right: auto
