@import 'src/assets/sass/variables'
nav
    background: $podcast-black
    font-family: $font-standard
    .container
        @extend .app-container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        list-style: none
        #menu-container
img
    max-width: $navbar-image-size

label
    opacity: 0.5

a
    text-decoration: none
    color: $podcast-black
fa-icon
    color: $podcast-white
    font-size: $nav-item-font-size
.mat-mdc-menu-panel
    right: 0 !important