<nav id="main-nav">
    <div class="container">
        <div id="logo-container">
            <img routerLink="/" (click)="scrollUp()" id="logo" src="assets/image/EXP_Boost_logo.png">
        </div>
        <div id="menu-container">
            <fa-icon [icon]="faBars" [matMenuTriggerFor]="rootMenu"></fa-icon>
            <mat-menu #rootMenu="matMenu" >
                <mat-list>
                    <mat-list-item><label>Navigation</label></mat-list-item>
                    <mat-list-item (click)="navigateTo('')">Home</mat-list-item>
                    <mat-list-item (click)="navigateTo('videos')">Videos</mat-list-item>
                    <mat-list-item (click)="navigateTo('blog')">Blog</mat-list-item>
                    <mat-list-item (click)="navigateTo('about')">About</mat-list-item>
                    <mat-list-item (click)="navigateTo('contact')">Contact</mat-list-item>
                    <div *ngIf="isLoggedIn">
                        <mat-list-item>
                            <hr>
                        </mat-list-item>
                        <mat-list-item><label>My stuff</label></mat-list-item>
                        <mat-list-item (click)="navigateTo('myprofile')">Profile</mat-list-item>
                        <mat-list-item><hr></mat-list-item>
                        <mat-list-item><label>Account</label></mat-list-item>
                        <mat-list-item (click)="isLoggedIn=false">Logout</mat-list-item>
                    </div>
                    <div *ngIf="!isLoggedIn">
                        <mat-list-item>
                            <hr>
                        </mat-list-item>
                        <mat-list-item><label>Account</label></mat-list-item>
                        <mat-list-item (click)="openLoginDialog()">Login</mat-list-item>
                        <mat-list-item (click)="openSignupDialog()">Signup</mat-list-item>
                    </div>
                </mat-list>

            </mat-menu>
        </div>
    </div>
</nav>