<header>
    <article id="hero-section">
        <section id="ad-copy">
            <div [@slideIn]="slideInState" class="left-box">
                <app-poll></app-poll>
            </div>
            <div class="right-box">
                <div class="right-box-top">
                    <h1>EXPBoost is gamified podcast.</h1>
                    <p>Join us on a deepdive into game design.</p>
                    <p>Every Monday, 15:00</p>
                </div>
                <div class="right-box-bottom">
                    <app-social-link-button [title]="'Twitch'" [platform]="faTwitch"></app-social-link-button>
                    <app-social-link-button [title]="'YouTube'" [platform]="faYoutube"></app-social-link-button>
                    <app-social-link-button [title]="'Patreon'" [platform]="faPatreon"></app-social-link-button>
                </div>
            </div>
        </section>
    </article>
    <section id="call-to-action">
        <div [@sinusoidal]="" class="cta-container">
            <fa-icon [icon]="faCaretDown"></fa-icon>
        </div>
    </section>
</header>

<article id="latest-content">
    <section id="video-and-blog">
        <app-gallery-container-component></app-gallery-container-component>
    </section>
</article>

<article id="about">
    <section id="waterfall">
        <div id="wf-container">
            <div class="wf-subcontainer">
                <div class="wf-subcontainer-item">
                    <div>
                        <h1>We are EXPBoost</h1>
                        <p>Some call it podcast. Others talkshow. We call it <span
                                class="highlight-words">gamingenlightened.</span></p>
                        <p class="empty-hidden-feature"></p>
                    </div>
                </div>
                <div class="wf-subcontainer-item">
                    <div>
                        <h1>Video game news</h1>
                        <p>We have our trigger finger on the games <span class="highlight-words">industry pulse</span>
                            bringing you selected
                            <span class="highlight-words">news</span> every episode.
                        </p>
                        <p class="hidden-feature">Video game news coverage</p>
                    </div>
                </div>
                <div class="wf-subcontainer-item">
                    <div>
                        <h1>New Game+</h1>
                        <p>Look to the future as we scale up with more content: <span class="highlight-words">blog
                                posts</span>, <span class="highlight-words">game</span> <span
                                class="highlight-words">releases</span>, <span class="highlight-words">let's
                                learn</span> and more.</p>
                        <p class="hidden-feature">New Game Plus content</p>
                    </div>
                </div>
            </div>
            <div class="wf-subcontainer">
                <div class="wf-subcontainer-item">
                    <div>
                        <h1>Deep dive into game design.</h1>
                        <p>Join us on a journey into game design. Bringing you <span
                                class="highlight-words">analysis</span>, <span class="highlight-words">insight</span>
                            and design considerations. New topic every episode!</p>
                        <p class="hidden-feature">Game design topic discussion</p>
                    </div>
                </div>
                <div class="wf-subcontainer-item">
                    <div>
                        <h1>Join our party</h1>
                        <p>Become a <span class="highlight-words">party member</span> and be a part of the <span
                                class="highlight-words">community</span>. Make contributions and <span
                                class="highlight-words">participate</span> in gamifcation for the Twitch enthusiast.
                        </p>
                        <p class="hidden-feature">Twitch integration</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<article id="signup">
    <section id="avatar-cta">
        <div id="avatar-container">
            <img src="./assets/image/avatar.png">
            <header>Vote, create, participate, earn and more!</header>
            <div id="cta-text">
                <div>
                    <p>Become part of the community</p>
                </div>
                <div>
                    <app-sign-up-button></app-sign-up-button>
                </div>
            </div>
        </div>
    </section>
</article>