<article id="hero-section">
    <section id="poll">
        <div>Hi I'm a poll placeholder</div>
    </section>
    <section id="ad-copy">
        <div class="blurcard">
            <header>EXPBoost is gamified podcast.</header>
            <p>Join us on a deepdive into game design.</p>
            <p>Every Monday, 15:00</p>
        </div>
    </section>
    <section id="social-links">
        <app-social-link-button [title]="'Twitch'" [platform]="faTwitch"></app-social-link-button>
        <app-social-link-button [title]="'YouTube'" [platform]="faYoutube"></app-social-link-button>
        <app-social-link-button [title]="'Patreon'" [platform]="faPatreon"></app-social-link-button>
    </section>
    <section id="call-to-action">
        <p>
            <fa-icon [icon]="faCaretDown"></fa-icon>
        </p>
    </section>
</article>

<article id="latest-content">
    <section id="video-and-blog">
        <div class="orange-card">
            <header>Latest Videos</header>
            <div class="row">
                <div class="col-md-4">
                  <div class="gallery-item">
                    <img class="gallery-image" src="/assets/image/gaming_placeholder.jpg">
                    <p class="gallery-title">Revive Couch Co-op!</p>
                    <p class="gallery-date">January 18, 2023</p>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery-item">
                      <img class="gallery-image" src="/assets/image/gameover_placeholder.jpg">
                      <p class="gallery-title">Elden Ring Sucks</p>
                      <p class="gallery-date">January 11, 2023</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery-item">
                      <img class="gallery-image" src="/assets/image/mario_placeholder.jpg">
                      <p class="gallery-title">The Nintendo Model</p>
                      <p class="gallery-date">January 4, 2023</p>
                    </div>
                </div>
              </div>
            <div id="subheader"><a href="">View More</a></div>
        </div>
    </section>
</article>

<article id="about">
    <section id="step-1"></section>
    <section id="step-2"></section>
    <section id="step-3"></section>
    <section id="step-4"></section>
    <section id="step-5"></section>
</article>

<article id="signup">
    <section id="avatar-art"></section>
    <section id="call-to-action-text"></section>
    <section id="call-to-action-button"></section>
</article>