@import 'src/assets/sass/variables'
article
    width: auto
section
    font-family: 'Montserrat', sans-serif
    header
        font-size: 2em
        font-weight: bold
    div
        color: $podcast-white
    &:nth-child(3)
        fa-icon
        margin-right: $small-spacing
        .slide-button
            margin-right: $normal-spacing
            background-color: $podcast-black
            color: $podcast-white
            border-radius: 5px
            padding: 18px 36px
            display: inline-block
            font-size: 14px
            letter-spacing: 1px
            cursor: pointer
            box-shadow: inset 0 0 0 0 $podcast-purple
            -webkit-transition: ease-out 0.4s
            -moz-transition: ease-out 0.4s
            transition: ease-out 0.4s
            &:hover
                box-shadow: inset 400px 0 0 0 $podcast-purple

    &:nth-child(4)
        p
            font-size: 8em
            margin: 0
            animation: bounce 1.5s linear infinite alternate
            transition: transform 0.2s
        @keyframes bounce
            0%
                transform: translateY(0px)

            50%
                transform: translateY(-5px)

            100%
                transform: translateY(0px)
#hero-section
    height: 900px
    background-image: url('/assets/image/Background_Hs2.png')
    background-size: fill
    background-repeat: no-repeat

    #call-to-action
        position: absolute
        left: 50%
        bottom: 0
        transform: translateX(-50%)

#latest-content, #about
    background-color: $podcast-black

#about
    background-image: url('/assets/image/waterfall_opaque.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    #wf-container
        height: 1024px
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: center
    .wf-subcontainer
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        gap: 10em
    .highlight-words
        color: $podcast-orange
        font-weight: bold
    .hidden-feature
        display: flex
        align-items: center
        justify-content: space-evenly
        height: 40px
        color: $podcast-black
        box-shadow: inset 0 0 0 0 $podcast-purple
        -webkit-transition: ease-out 0.6s
        -moz-transition: ease-out 0.6s
        transition: ease-out 0.6s
    .wf-container-item
        &:hover
            .hidden-feature
                color: $podcast-white
                box-shadow: inset 100vw 0 0 0 $podcast-purple

#signup
    background-color: $podcast-indigo
