@import 'src/assets/sass/variables'
header
section
    font-family: 'Montserrat', sans-serif
    h1
        font-size: $header-size-tiny
        font-weight: bold
        margin: 0
    div, p, h1, a
        color: $podcast-white
    p
        font-size: $paragraph-size-small
    @include breakpoint('md')
        h1
            font-size: $header-size-big

#hero-section
    background-image: url(#{$filepath}Background_Hs2.png)
    background-repeat: no-repeat
    background-position: center
    display: flex
    flex-direction: column
    gap: 1em
    min-height: 92svh
    #ad-copy
        display: flex
        flex-direction: column
        p
            color: $podcast-white
        .left-box, .right-box-top
            @extend .blur-card
        .right-box
            display: flex
            flex-direction: column
            justify-content: space-around
            height: 80svh
            width: 100svw
        .right-box-bottom
            @extend .app-container
            display: flex
            flex-direction: column
            align-items: center
            gap: $global-gap-small
        .middle-box
                display: flex
                flex-direction: row
                justify-content: center
        @include breakpoint('md')
            flex-direction: row
            justify-content: flex-end
            align-items: flex-start
            padding-top: $global-padding-normal
            .right-box
                justify-content: flex-start
                width: 50svw
            .right-box-top
                border-radius: 20px 0 0 20px
                margin-bottom: $global-margin-normal
            .right-box-bottom
                flex-direction: row
                justify-content: center
            .left-box
                border-radius: 0 20px 20px 0
#bar
    background-color: $podcast-orange
    width: 100svw
    height: 12svh
    overflow: hidden

#call-to-action
    display: flex
    flex-direction: row
    justify-content: center
    position: relative
    .cta-container
        position: absolute
        bottom: 0
        fa-icon
            font-size: 6em
            color: $podcast-black
#latest-content, #about
    @extend .app-container
    background-color: $podcast-black

#about
    @extend .app-container
    background-image: url('#{$filepath}waterfall_opaque.png')
    background-size: fill
    background-repeat: no-repeat
    background-position: center
    #waterfall
        display: flex
        flex-direction: row
        justify-content: center
        min-height: 100svh
        padding: $global-padding-normal 0 $global-padding-normal 0
        text-align: center
    .wf-outer-box
        display: flex
        flex-direction: column
        gap: 2em
        .wf-left-box, .wf-right-box
            display: flex
            flex-direction: column
            justify-content: space-evenly
            flex-basis: 0
            flex-grow: 1
            max-width: 100svw
            gap: 2em
            @include breakpoint('sm')
                max-width: 30svw
    .highlight-words
        color: $podcast-orange
        font-weight: bold
    .hidden-feature
        box-shadow: inset 100vw 0 0 0 $podcast-purple
    @include breakpoint('sm')
        background-size: contain
        #waterfall
            text-align: left
        .wf-outer-box
            flex-direction: row
        #waterfall, .wf-outer-box, .wfleft-box, .wf-right-box
            padding: $global-padding-normal
        .hidden-feature, .empty-hidden-feature
            display: flex
            align-items: center
            justify-content: space-evenly
            height: 40px
            color: $podcast-black
            box-shadow: inset 0 0 0 0 $podcast-purple
            -webkit-transition: ease-out 0.6s
            -moz-transition: ease-out 0.6s
            transition: ease-out 0.6s
        .hidden-feature
            &:hover
                color: $podcast-white
                box-shadow: inset 100vw 0 0 0 $podcast-purple

#signup
    @extend .app-container
    background-color: $podcast-indigo
    height: 512px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    #avatar-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 1em
        img
            height: 250px
            width: 220px
        #cta-text
            display: flex
            align-items: center
            gap: 0.5em
