<section>
    <div class="blog-box-outer">
        <div class="blog-box-outer-element"><app-blog-search-bar></app-blog-search-bar></div>
        <div class="blog-box-outer-element">
            <a routerLink="/blog-page">
                <div class="post-container">
                    <img src="./assets/image/controller.jpg">
                    <div class="blog-box-inner-content-tags">
                        <mat-chip-set *ngFor="let tag of pinnedBlogPost.tags">
                            <mat-chip color="accent">{{tag}}</mat-chip>
                        </mat-chip-set>
                    </div>
                    <div class="post-caption">{{pinnedBlogPost.title}}</div>
                </div>
            </a>
        </div>
        <article id="latest_blog_posts">
            <div class="blog-box-outer-element">
                <div class="blog-box-inner">
                    <div *ngFor="let post of blogPosts; let i = index"
                        class="blog-box-inner-content-element content-element-small {{ i === 0 ? 'first-post' : '' }}">
                        <a routerLink="/blog-page">
                            <div class="post-container">
                                <img [src]="post.thumbnail">
                                <div class="blog-box-inner-content-tags">
                                    <mat-chip-set *ngFor="let tag of post.tags">
                                        <mat-chip color="accent">{{tag}}</mat-chip>
                                    </mat-chip-set>
                                </div>
                                <div class="post-caption-xs">{{post.caption}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>