// Color palette
$podcast-orange: #FFA731
$podcast-purple: #761FF8
$podcast-black: #25233f
$podcast-white: #FEFEFD
$podcast-indigo: #352264
$podcast-blurcard: rgba(37, 35, 63, 0.8)

// Universal spacing
$normal-spacing: 1em
$small-spacing: $normal-spacing / 4

// Global element spacing
$global-margin-normal: 2em
$global-margin-small: $global-margin-normal / 2
$global-padding-normal: 2em
$global-padding-big: $global-padding-normal* 1.33
$global-gap-big: $global-padding-normal * 2
$global-gap-normal: 2em
$global-gap-small: $global-gap-normal / 2
$global-gap-tiny: $global-gap-small / 2

// Global radius 
$global-radius-normal: 20px
$global-radius-small: $global-radius-normal / 2
$global-radius-tiny: $global-radius-small / 4

// Filter values
$filter-value-blur: 3px

// Fonts
$font-standard: 'Montserrat', sans-serif
$header-size-big: 2em
$header-size-normal: 1.75em
$header-size-small: 1.5em
$paragraph-size-normal: 1em
$paragraph-size-big: $paragraph-size-normal* 1.15
$paragraph-size-small: $paragraph-size-normal * 0.85
$nav-item-font-size: 1.1em
$title-font-size: 1.25em

// Global sizes
$navbar-image-size: 100px

// Paths
$filepath: '../../assets/image/'

// Thresholds
$xs: 576px
$sm: 768px
$md: 1001px
$lg: 1200px
$xl: 1600px

// Media queries
@mixin breakpoint($breakpoint)
    @if $breakpoint == 'xs'
        @media (min-width: 576px)
            @content
    @else if $breakpoint == 'sm'
        @media (min-width: 768px)
            @content

    @else if $breakpoint == 'md'
        @media (min-width: 1001px)
            @content

    @else if $breakpoint == 'lg'
        @media (min-width: 1200px)
            @content

    @else if $breakpoint == 'xl'
        @media (min-width: 1600px)
            @content

// Elements
.blur-card
    background-color: $podcast-blurcard
    padding: $global-padding-normal
    backdrop-filter: blur($filter-value-blur)
.app-container
    padding: 0 10% 0 10%
